In [8]:
import pandas as pd

# Load the data from the file
file_path = './data/Amazon Sales.csv'
data = pd.read_csv(file_path)

# Display the basic information and the first few rows of the data to understand its features
data_info = data.info()
data_head = data.head()


data_info, data_head

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 128975 entries, 0 to 128974
Data columns (total 22 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   index               128975 non-null  int64
 1   Order ID            128975 non-null  object
 2   Date                128975 non-null  object
 3   Status              128975 non-null  object
 4   Fulfilment          128975 non-null  object
 5   Sales Channel       128975 non-null  object
 6   ship-service-level  128975 non-null  object
 7   Style               128975 non-null  object
 8   SKU                 128975 non-null  object
 9   Category            128975 non-null  object
 10  Size                128975 non-null  object
 11  ASIN                128975 non-null  object
 12  Courier Status      128975 non-null  object
 13  Qty                 128975 non-null  int64
 14  currency            128975 non-null  object
 15  Amount              128975 non-null  float64
 16  ship-city           128942 non-null  object
 17  ship-state          128942 non-null  object
 18  ship-postal-code    128975 non-null  int64
 19  ship-country        128942 non-null  object
 20  promotion-ids       128975 non-null  object
 21  B2B                 128975 non-null  bool
dtypes: bool(1), float64(1), int64(3), object(17)
memory usage: 20.8+ MB

(None,
    index             Order ID      Date                        Status  \
 0      0  405-8078784-5731545  22/04/30                     Cancelled
 1      1  171-9198151-1101146  22/04/30  Shipped - Delivered to Buyer
 2      2  404-0687676-7273146  22/04/30                       Shipped
 3      3  403-9615377-8133951  22/04/30                     Cancelled
 4      4  407-1069790-7240320  22/04/30                       Shipped

   Fulfilment Sales Channel ship-service-level    Style              SKU  \
 0   Merchant     Amazon.in           Standard   SET389   SET389-KR-NP-S
 1   Merchant     Amazon.in           Standard  JNE3781  JNE3781-KR-XXXL
 2     Amazon     Amazon.in          Expedited  JNE3371    JNE3371-KR-XL
 3   Merchant     Amazon.in           Standard    J0341       J0341-DR-L
 4     Amazon     Amazon.in          Expedited  JNE3671  JNE3671-TU-XXXL

         Category  ... Courier Status Qty currency  Amount    ship-city  \
 0            Set  ...    Not Shipped   0      INR  647.62       MUMBAI
 1          kurta  ...        Shipped   1      INR  406.00    BENGALURU
 2          kurta  ...        Shipped   1      INR  329.00  NAVI MUMBAI
 3  Western Dress  ...    Not Shipped   0      INR  753.33   PUDUCHERRY
 4            Top  ...        Shipped   1      INR  574.00      CHENNAI

     ship-state ship-postal-code ship-country  \
 0  MAHARASHTRA           400081           IN
 1    KARNATAKA           560085           IN
 2  MAHARASHTRA           410210           IN
 3   PUDUCHERRY           605008           IN
 4   TAMIL NADU           600073           IN

                                        promotion-ids    B2B
 0                                       No Promotion  False
 1  Amazon PLCC Free-Financing Universal Merchant ...  False
 2       IN Core Free Shipping 2015/04/08 23-48-5-108   True
 3                                       No Promotion  False
 4                                       No Promotion  False

 [5 rows x 22 columns])

In [9]:
# Create a DataFrame to show original and replaced dates in parallel
parallel_dates = data[['Date', 'Date_Replaced']].drop_duplicates().sort_values(by='Date').reset_index(drop=True)

import ace_tools as tools; tools.display_dataframe_to_user(name="Original and Replaced Dates", dataframe=parallel_dates)

# Extract the top 5 and last 5 rows from the parallel_dates DataFrame
top_5 = parallel_dates.head(5)
last_5 = parallel_dates.tail(5)

# Combine top 5 and last 5 for display
top_and_last_5 = pd.concat([top_5, last_5])

import ace_tools as tools; tools.display_dataframe_to_user(name="Top 5 and Last 5 Dates", dataframe=top_and_last_5)

       Date Date_Replaced
0  22/04/30    2024-01-31
1  22/04/30    2024-01-31
2  22/04/30    2024-01-31
3  22/04/30    2024-01-31
4  22/04/30    2024-01-31